* {
	margin: 0;
	padding: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: #C85C5C;
  height: 40px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-end;
}

.nav__links {
  background-color: #F9975D;
  padding: 10px;
  border: solid #B2EA70 3px;
}

.nav__link--activo{
  font-weight: bold;
}

body {
	background: #E9ECF4;
	color: #000;
	font-size: 20px;
    font-family: 'Crimson Pro', serif;
}

.grilla {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";
}

.grilla > div,
.grilla .encabezado,
.grilla .contenido,
.grilla .sidebar,
.grilla .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.grilla .encabezado {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

.grilla .contenido {
	grid-area: contenido;
}

.grilla .sidebar {
	grid-column: 3 / 4;
	background: #fAA43D;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.grilla .widget-1,
.grilla .widget-2 {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grilla .widget-1 {
	grid-area: widget-1;

}

.widget-1:hover {
	color: orange;
	transform: skewY(20deg);
	animation-delay: 3s;gi
  }

.grilla .widget-2 {
	grid-area: widget-2;
}

.widget-2:hover {
	display: block;
  }


.grilla .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

form.form-contacto {
  display: table;
}

div.form-contacto-nombre {

  display: table-row;
}

div.form-contacto-correo {
  display: table-row;
}
div.form-contacto-pais {
  display: table-row;
}
div.form-contacto-cp {
  display: table-row;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

@media screen and (max-width: 768px){
	.grilla {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
}